V.A.U.L.T MARK8 - Kopya/Simple Test Workflow.json
{
  "name": "VAULT MK8 - Simple Test Workflow",
  "description": "Simple test workflow for debugging JSON errors",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test-simple",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true,
          "allowedOrigins": "*"
        }
      },
      "id": "simple-webhook-123",
      "name": "📥 Test Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [20, 300],
      "webhookId": "simple-test"
    },
    {
      "parameters": {
        "jsCode": "// Simple test processor\nconst inputData = $input.all();\nconst command = inputData[0]?.json?.command || 'test';\nconst userId = inputData[0]?.json?.userId || 'anonymous';\n\n// Simple response\nconst response = {\n  success: true,\n  agent: 'test',\n  command: command,\n  status: 'completed',\n  response: {\n    message: `Test response for: ${command}`,\n    type: 'test_response'\n  },\n  metadata: {\n    processingTime: Date.now(),\n    version: 'MK8-Simple',\n    workflow: 'simple-test'\n  }\n};\n\nreturn [response];"
      },
      "id": "simple-processor-456",
      "name": "🧪 Simple Processor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin", 
                "value": "*"
              },
              {
                "name": "X-VAULT-Version",
                "value": "MK8-Simple"
              }
            ]
          }
        }
      },
      "id": "simple-response-789",
      "name": "📤 Simple Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [460, 300]
    }
  ],
  "connections": {
    "📥 Test Webhook": {
      "main": [
        [
          {
            "node": "🧪 Simple Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧪 Simple Processor": {
      "main": [
        [
          {
            "node": "📤 Simple Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "Europe/Istanbul"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "vault-mk8-simple",
      "name": "VAULT MK8 Simple"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "simple-v1.0"
}
