V.A.U.L.T MARK8 - Kopya/VAULT_MK8_Simple_Test.json
{
  "name": "VAULT MK8 - Simple Test",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vault-mk8-command",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "8f5e2c22-89a5-4f8f-ae3d-2341234abcde",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "values": {
          "boolean": [],
          "string": [
            {
              "name": "response",
              "value": "={{$json[\"command\"]}}"
            },
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "agent",
              "value": "test"
            }
          ],
          "number": []
        },
        "options": {}
      },
      "id": "abc12345-6789-0abc-def1-234567890abc",
      "name": "Set Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  \"success\": true,\n  \"agent\": \"chitchat\",\n  \"command\": $node[\"Webhook\"].json[\"command\"],\n  \"response\": {\n    \"message\": \"Hello! VAULT MK8 is working correctly. Your command was: \" + $node[\"Webhook\"].json[\"command\"],\n    \"type\": \"test_response\"\n  },\n  \"status\": \"completed\"\n}) }}",
        "responseHeaders": {
          "entries": [
            {
              "name": "Access-Control-Allow-Origin",
              "value": "*"
            },
            {
              "name": "Access-Control-Allow-Methods",
              "value": "POST, GET, OPTIONS"
            },
            {
              "name": "Access-Control-Allow-Headers",
              "value": "Content-Type"
            }
          ]
        },
        "options": {}
      },
      "id": "def45678-90ab-cdef-0123-456789abcdef",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "vault-mk8-simple-test"
}
