V.A.U.L.T MARK8 - Kopya/vaultmk8_n8n_workflow.json
{
  "name": "VAULT MK8 - Simple Multi-Agent Workflow",
  "description": "Frontend ile uyumlu, komut alıp örnek cevap dönen basit n8n workflow'u.",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vault-mk8-command",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true,
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 300],
      "webhookId": "vault-mk8-command"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all()[0]?.json || {}\nconst command = input.command || ''\nlet responseMsg = ''\nif (command.toLowerCase().includes('merhaba') || command.toLowerCase().includes('hello')) {\n  responseMsg = 'Merhaba! Ben VAULT MK8. Size nasıl yardımcı olabilirim?';\n} else if (command.toLowerCase().includes('yaz')) {\n  responseMsg = 'İşte yazdığınız metin: ' + command;\n} else {\n  responseMsg = 'Komut alındı: ' + command;\n}\nreturn [{\n  success: true,\n  response: { message: responseMsg },\n  command,\n  agent: 'ai',\n  status: 'completed',\n  metadata: { version: 'mk8-simple', time: new Date().toISOString() }\n}];"
      },
      "id": "code-1",
      "name": "Command Processor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [300, 300]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" },
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "response-1",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [500, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Command Processor", "type": "main", "index": 0 }]] },
    "Command Processor": { "main": [[{ "node": "Response", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "timezone": "Europe/Istanbul"
  },
  "staticData": null,
  "tags": [ { "name": "VAULT MK8" } ],
  "triggerCount": 1
}

